body{
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 50px;
}


/* ------ navigation bar ----- */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    height: 55px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 20px 20px 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px and max-width: 992px) {
    .navbar-nav > li > a {
        padding: 17.5px 12px;
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background-color: #f8f8f8;
        color: #777;
        border-top: 3px solid #555;
        padding-top: 17px;
    }
}


/* ------ jumbotron ----- */

.jumbotron h1 {
    font-weight: 700;
    font-size: 66px;
}

.jumbotron p {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 40px;
}

.jumbotron .container {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.jumbotron {
    background: url(img/kuza-jumbotron-01.jpg) no-repeat;
    background-size: 125%;
    height: 550px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .jumbotron {
        max-height: 450px;
    }
    .jumbotron h1 {
        font-size: 56px;
    }
    .jumbotron p {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        max-height: 375px;
        background-size: cover;
    }
    .jumbotron h1 {
        font-size: 44px;
    }
}

@media (max-width: 480px) {
    .jumbotron {
        max-height: 300px;
        background-size: cover;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
    .jumbotron p {
        font-size: 18px;
    }
}


/* ------ mini gallery ----- */

.gallery-mini {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

.gallery-mini .row {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery-mini div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
}

.gallery-mini img {
    width: 100%;
}


/* ------ phone number ----- */

.phone {
    background-color: #F38720;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.phone h1 {
    font-weight: 700;
}

@media (max-width: 480px) {
    .phone h1 {
        font-size: 24px;
    }
    .phone h3 {
        font-size: 18px;
    }
}

.phone a {
    display: block;
    color: #fff;
}

.phone a:link {
    text-decoration: none;
}


/* ------ frequently asked questions ----- */

.faq {
    background-color: #e7e7e7;
    padding-top: 30px;
    padding-bottom: 10px;
}

@media (max-width: 992px) {
    .faq p {
        margin-top: 22px;
    }
    .faq .row div:first-child p:first-child {
        margin-top: 0;
    }
}


/* ------ footer ----- */

footer .container {
    text-align: center;
    padding: 10px 0;
}

footer .container p {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    color: #999;
    margin-bottom: 0;
}

footer .glyphicon {
    top: 2px;
}